*{
    padding:0px;
    margin:0px;
}
body{
    font-family: 'Playtime', sans-serif;
    background-attachment: fixed;
    background-size: cover;
    background-image: url("img/bg.jpg");
}
nav{
    font-size: 2em;
    display:flex;
    justify-content: space-around;
    width: 100%;
    padding: 20px 0px 20px 0px;
    background: linear-gradient(#000070, blue);
    box-shadow: 0px 0px 20px white;
    border-bottom: 2px solid white;
}
nav *{
    color: white;
}
nav h1{
    font-variant: small-caps;
    vertical-align: middle;
}
#menu{
    display: none;
    font-size: 1.8em;
    vertical-align: middle;
}
#links{
    padding-left: 20px;
    padding-right: 20px;
}
#links a{
    vertical-align: middle;
    text-decoration: none;
    padding-left: 15px;
    padding-right: 15px;
}
a:hover{
    box-shadow: 0px 0px 15px white;
    border-radius: 50%;
    background-color: cornflowerblue;
}
#logo{
    text-align: center;
}
#logo img{
    width:50%;
}
#main{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
    padding: 50px;
    width:80%;
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 20px gray;
    border: 2px solid white;
    border-radius: 40px;
    backdrop-filter: blur(8px);
}
#main *{
    color: WHITE;
}
.container{
    width:35%;
    padding: 20px;
    margin: 20px;
    text-align: center;
    border: 2px white solid;
    border-radius: 10px;
}
.container img{
    width:60%;
    border-radius: 25px;
}
.caption h2{
    font-size: 2.2em;
}
.caption p{
    font-size: 1.5em;
}
.caption hr{
    margin:10px 0px 10px 0px;
    border-top: 4px white dotted;
    border-bottom: none;
}
.caption ul{
    margin-left: 20px;
    font-size:1.5em;
    text-align: left;
}
footer{
    width:100%;
    padding: 20px 0px 20px 0px;
    margin-top: 40px;
    background: linear-gradient(#000070, blue);
    box-shadow: 0px 0px 20px white;
    border-top: 2px solid white;
}
footer p{
    font-size: 1.5em;
    margin-left: 25px;
    color: white;
}
@font-face {
    font-family: 'Playtime';
    src: url(playtime.ttf);
}
@media screen and (max-width: 1024px) {
    nav{
        justify-content: space-between;
    }
    nav h1{
        font-size: 1em;
        margin-left: 20px;
    }
    #links{
        display: none;
    }
    #menu{
        display: block;
        margin-right: 20px;
    }
}
@media screen and (max-width: 800px) {
    .container{
        width:90%;
    }
    #logo img{
        width:75%;
    }
}